interactions:
- request:
    body: endless=0
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ruvds.com/api/logon/
  response:
    body:
      string: '{"rejectReason": 0, "sessionToken": "SESSION_TOKEN", "expire": "27032021141225"}'
    headers:
      Content-Type:
      - text/x-json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://ruvds.com/api/datacenter?sessionToken=SESSION_TOKEN
  response:
    body:
      string: "{\"rejectReason\":0,\"datacenters\":[{\"id\": 1,\"name\": \"Rucloud:
        \u0420\u043E\u0441\u0441\u0438\u044F, \u041A\u043E\u0440\u043E\u043B\u0451\u0432\",\"tariffs\":
        {\"14\": {\"id\": 14,\"drives\": {\"1\": {\"id\": 1,\"usage\": [1, 2],\"trial\":
        2,\"vram\": false}, \"3\": {\"id\": 3,\"usage\": [1, 2],\"trial\": 2,\"vram\":
        false}}, \"ddos\": {\"price\": 400}}, \"15\": {\"id\": 15,\"drives\": {\"1\":
        {\"id\": 1,\"usage\": [1, 2],\"trial\": 2,\"vram\": true}, \"3\": {\"id\":
        3,\"usage\": [1, 2],\"trial\": 2,\"vram\": true}}, \"ddos\": {\"price\": 400}},
        \"21\": {\"id\": 21,\"drives\": {\"1\": {\"id\": 1,\"usage\": [1],\"trial\":
        7,\"vram\": false}, \"4\": {\"id\": 4,\"usage\": [1],\"trial\": 7,\"vram\":
        false}}, \"ddos\": {\"price\": 400}}, \"22\": {\"id\": 22,\"drives\": {\"3\":
        {\"id\": 3,\"usage\": [],\"trial\": 7,\"vram\": false}}, \"ddos\": {\"price\":
        400}}},\"driveTariffCombinations\": [[1],[1,3],[3],[4,1],[]],\"trial\": {\"price\":
        3000,\"cpu\": 4,\"ip\": 2}},{\"id\": 2,\"name\": \"ZUR1: \u0428\u0432\u0435\u0439\u0446\u0430\u0440\u0438\u044F,
        \u0426\u044E\u0440\u0438\u0445\",\"tariffs\": {\"15\": {\"id\": 15,\"drives\":
        {\"1\": {\"id\": 1,\"usage\": [1, 2],\"trial\": 2,\"vram\": false}, \"3\":
        {\"id\": 3,\"usage\": [1, 2],\"trial\": 2,\"vram\": false}}, \"ddos\": null}},\"driveTariffCombinations\":
        [[1,3],[1],[3]],\"trial\": {\"price\": 3000,\"cpu\": 4,\"ip\": 2}},{\"id\":
        3,\"name\": \"LD8: \u0412\u0435\u[...]
