interactions:
- request:
    body: endless=0
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ruvds.com/api/logon/
  response:
    body:
      string: '{"rejectReason": 0, "sessionToken": "SESSION_TOKEN", "expire": "27032021141225"}'
    headers:
      Content-Type:
      - text/x-json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://ruvds.com/api/server/command/
  response:
    body:
      string: '{"rejectReason": 0, "id": 38420, "cost": 279}'
    headers:
      Content-Type:
      - text/x-json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
